body {
        background: #C6AFD6;
        background: -webkit-linear-gradient(top left, #C6AFD6, #65ABA1);
        background: -moz-linear-gradient(top left, #C6AFD6, #65ABA1);
        background: linear-gradient(to bottom right, #C6AFD6, #65ABA1);
        justify-content: center;
   
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y: hidden;
}

.container{
    border: 1px solid rgb(255, 255, 255);
    width: 240px;
    height: 385px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

.container:hover{
    transform: scale(1.1);
}
section {
    min-height: 100vh;
    width: 100%;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

img{
    border-radius: 15px;
    margin: 10px 10px 0px 10px;
    vertical-align:bottom;
}

p , .special{
    font-family: "oswald" , sans-serif;
}

.second{
    padding: 0px 0px 0px 0px;
    margin-top: 0;
    justify-content: center;
}

.special{
    font-weight: 600;
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    margin-top: 16px;
    margin-bottom: 25px;
}

h5{
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    margin:0;
    padding:0;
}

.button-33 {
    background-color: #a3b6aa;
    border-radius: 100px;
    box-shadow: rgba(73, 126, 93, 0.2) 0 -25px 18px -14px inset,rgba(32, 36, 33, 0.15) 0 1px 2pxrgba(76, 95, 83, 0.15) 0 2px 4px,rgba(63, 82, 70, 0.15) 0 4px 8px,rgba(15, 19, 16, 0.15) 0 8px 16px,rgba(96, 105, 100, 0.15) 0 16px 32px;
    color: rgb(45, 48, 45);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(33, 44, 37, 0.35) 0 -25px 18px -14px inset,rgba(55, 59, 57, 0.25) 0 1px 2px,rgba(29, 32, 30, 0.25) 0 2px 4px,rgba(47, 53, 49, 0.25) 0 4px 8px,rgba(33, 37, 35, 0.25) 0 8px 16px,rgba(16, 20, 18, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }